.body {
    background-color: #F2F3F6;
    margin: 0;
}

.header {
    background-color: #BFD6E9;
    height: 100px;
    /* box-shadow:  0px 5px lightgray; */
    margin: -8px -8px 0px -8px;
    display: flex;
    justify-content: space-between;
}

.meniu-toggle {
    display: none;
}
.meniu {
    list-style: none;
    display: flex;
    margin: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2F3F6;
    border: 2px solid #365A86;
    min-width: 500px;
    overflow: auto;
    padding-left: -500px;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }

.show {
    display:list-item;
}

[class^=buton-meniu] {
    display: flex;
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 38.5px 25px 38.5px 25px;
}

/* .meniu > button:hover {
    background-color: #DEEAF1;
} */

/* [class^=buton-meniu]:active {
    background-color: #F2F3F6;
    border: #365A86;
} */

.buton-on {
    background-color: #DEEAF1;
}

.link-meniu {
    text-decoration: none;
}
.sageata {
    object-fit: scale-down;
    height: 25px;
    padding-left: 10px;
}

.logo {
    object-fit: scale-down;
    height: 80px;
    padding-top: 10px;
}

.continut {
    background-color: #F2F3F6;
    margin: 0px -8px 0px -8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.statistici {
    grid-column-start: 2;
    grid-column-end: 6;
    column-span: 4fr;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}

.graf3 {
    height: 400px;
    margin-bottom: 50px;
}

.graf1 {
    margin-bottom: 50px;
}

.graf4 {
    height: 500px;
    margin-bottom: 50px;
}

.noutati {
    column-span: 2fr;
    grid-column-start: 6;
    grid-column-end: 8;
    padding: 30px 50px 30px 50px;
    margin: 40px;
    background-color: white;
    font-size: 20px;
}

.titlu-noutati {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.stiri, :link, :visited, :active {
    color: black;
}

.autori {
    font-size: 15px;
}

.footer {
    background-color: #365A86;
    margin: 0px -8px -8px -8px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
}

.rights:hover {
    color: white;
}

.contact:hover {
    color: #DEEAF1;
}

.footer > p {
    margin: 0;
}

[class^=desc-] {
    border: 0;
    text-align: center;
    font-size: 15px;
    background-color: #365A86;
    color: white;
    margin-right: 10px;
    padding: 10px;
}

[class^=desc-]:hover {
    background-color: #BFD6E9;
    color: black;
}

[class^=desc-]:active {
    background-color: white;
    color: black;
}

.ponturi {
    display: block;
    text-align: center;
    padding: 0px 50px;
}

.titlu-ponturi {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px;
}

.continut-ponturi {
    display: flex;
}

.titlu-p {
    font-size: 25px;
    font-weight: bold;
}

.pont {
    display: block;
    background-color: #365A86;
    color: white;
    margin: 20px 80px;
    padding: 10px 30px;
    font-size: 20px;
    width: 300px;
}

.titlu-p:hover, .continut-p:hover {
    color: white;
}

.alte-siteuri {
    font-size: 25px;
    font-weight: bold;
    margin: 50px 120px;
}

.links-r {
    margin: 0px 120px;
    margin-bottom: 50px;
    font-size: 20px;
}

@media (max-width: 1790px) {
    .graf3 {
        height: 300px;
    }
    
    .graf1 {
        height: 400px;
    }
    
    .graf4 {
        height: 400px;
    }
}

@media (max-width: 1440px) {
    .continut {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 50px 50px;
    }
    
    .statistici {
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0px;
    }
    
    .noutati {
        grid-column-start: 5;
        grid-column-end: 7;
        margin: 0px 50px;
    }

    .continut-ponturi {
        display: block;
        text-align: center;
    }

    .pont {
        width: auto;
    }
}

@media (max-width: 1100px) {
    .continut {
        display: block;
    } 

    .descarca {
        text-align: center;
    }

    .statistici {
        padding: 40px 60px;
    }

    .graf3 {
        height: 400px;
    }
    
    .graf4 {
        height: 500px;
    }

    .meniu {
        display: none;
    }

    .meniu-toggle{
        display: block;
        height: 80px;
    }

    [class^=buton-meniu] {
        padding: 10px 60px;
    }

    [class^=buton-meniu]:hover {
        background-color: #BFD6E9;
    }

    [class^=buton-meniu]:active {
        background-color: #DEEAF1;
    }

    [class^=desc-]:hover {
        background-color: #365A86;
        color: white;
    }
    
    [class^=desc-]:active {
        background-color: #DEEAF1;
        color: black;
    }

}

    @media (max-width: 1010px) {
        .statistici {
            padding: 0;
        }
        .graf3 {
            height: 300px;
        }
        
        .graf4 {
            height: 350px;
        }
    }

    /* login */

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.login-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4876AD;
    background-size: cover;
    background-position: center;
}

.wrapper {
    box-sizing: border-box;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
